**/*.pyc

/custom/
/custom-*/
/custom-*

/env/
/env-*/
/env-*

/ext/
/ext-*/
/ext-*

/ansible/ansible.generated.cfg

/ansible/collections/ansible_collections/*
!/ansible/collections/ansible_collections/lrd/cloud

/run.yml
/tmp/
