#################################################################################
### Fails if there is a node dependency in which the required amount of hosts ###
### is higher than the actual amount of reacheble hosts                       ###
#################################################################################

- name: >
    {{ ext_run_dependencies_title }} - wait
    {{ ext_run_dependencies_params.timeout | default(10) }} seconds
    for the connection to the host to become reachable/usable
    (require at least {{ ext_run_dependencies_item_value.required_amount }}
    successful connections)
  wait_for:
    host: "{{ tmp_hostname }}"
    port: "{{ tmp_port }}"
    sleep: 1
    timeout: "{{ ext_run_dependencies_params.timeout | default(30) | int }}"
  vars:
    tmp_full_host: >-
      {{
        (ext_run_dependencies_host != '')
        | ternary(
          ((ext_run_dependencies_host | urlsplit('scheme') | default('')) != '')
          | ternary(
            ext_run_dependencies_host,
            'void://' + ext_run_dependencies_host
          ),
          ''
        )
      }}
    tmp_scheme: "{{ tmp_full_host | urlsplit('scheme') }}"
    tmp_hostname: "{{ tmp_full_host | urlsplit('hostname') }}"
    tmp_default_port: "{{ (tmp_scheme == 'https') | ternary(443, 80) }}"
    tmp_port: "{{ tmp_full_host | urlsplit('port') | default(tmp_default_port, true) }}"
  loop: "{{ ext_run_dependencies_item_value.host_list | default([]) }}"
  loop_control:
    loop_var: ext_run_dependencies_host
  register: ext_run_dependencies_var
  ignore_errors: true

- name: "{{ ext_run_dependencies_title }} - ext_run_dependencies_inner_errors (init)"
  set_fact:
    ext_run_dependencies_inner_errors: 0
    ext_run_dependencies_inner_msgs: "Unreachable hosts:"
  tags: ["no_print"]

- name: "{{ ext_run_dependencies_title }} - ext_run_dependencies_inner_errors (fill)"
  set_fact:
    ext_run_dependencies_inner_errors: "{{ (ext_run_dependencies_inner_errors | int) + 1 }}"
    ext_run_dependencies_inner_msgs: |-
      {{ ext_run_dependencies_inner_msgs }}
      ---
      [{{ ext_run_dependencies_inner_item.ext_run_dependencies_host }}]
      {{ ext_run_dependencies_inner_item.msg | default('') }}
  when: ext_run_dependencies_inner_item.failed
  loop: "{{ ext_run_dependencies_var.results }}"
  loop_control:
    loop_var: ext_run_dependencies_inner_item
    label: "dependency [{{ ext_run_dependencies_inner_item.ext_run_dependencies_host }}]"
  tags: ["no_print"]

- name: "{{ ext_run_dependencies_title }} - ext_run_dependencies_inner_successful"
  set_fact:
    ext_run_dependencies_inner_successful: >-
      {{
        (ext_run_dependencies_item_value.host_list | default([]) | length)
        -
        (ext_run_dependencies_inner_errors | int)
      }}
  tags: ["no_print"]

- name: "{{ ext_run_dependencies_title }} - ext_run_dependencies_inner_msgs (end)"
  set_fact:
    ext_run_dependencies_inner_msgs: |
      {{ ext_run_dependencies_inner_msgs }}
      ---
      Node: {{ params.node }}
      Dependency: {{ ext_run_dependencies_item.key }}
      Required amount: {{ ext_run_dependencies_item_value.required_amount }}
      Successful: {{ ext_run_dependencies_inner_successful }}
      Failed: {{ ext_run_dependencies_inner_errors }}
  when: >-
    (ext_run_dependencies_inner_successful | int)
    <
    (ext_run_dependencies_item_value.required_amount | int)
  tags: ["no_print"]

- name: "{{ ext_run_dependencies_title }} - fail due to unreachable hosts"
  fail:
    msg: "{{ ext_run_dependencies_inner_msgs }}"
  when: >-
    (ext_run_dependencies_inner_successful | int)
    <
    (ext_run_dependencies_item_value.required_amount | int)
  tags: ["no_print"]
