# Node Vars

- name: "{{ pod_title }} - pod_node_credential"
  set_fact:
    pod_node_name: "{{ pod_node.name }}"
    pod_node_local: "{{ pod_node.local | default(false) | bool }}"
    pod_node_credential: "{{ pod_node.credential | default({}) }}"
    pod_node_base_dir: "{{ pod_node.base_dir | default('') }}"
  tags: ["no_print"]

# Pods

- name: "{{ pod_title }} - pods (outer)"
  include_tasks: "tasks/pods/pod.yml"
  vars:
    pod_inner_title: >-
      {{ pod_title }} - pod [{{ pod_item.description }}]
    pod_name: "{{ pod_item.name }}"
    pod_identifier: "{{ pod_item.identifier }}"
    pod_node_local: "{{ pod_node.local | default(false, true) }}"
    pod_host_user: "{{ pod_node_credential.host_user | default('') }}"
    pod_host_group: "{{ pod_node_credential.host_group | default(pod_host_user, true) }}"
    pod_root: "{{ pod_item.root | default(pod_node.root | default(false)) }}"
    pod_fast: "{{ pod_item.fast_prepare | default(false) }}"
    pod_secrets_repos_dir: "{{ pod_item.tmp_dir }}/secrets/repos"
    pod_node_dependencies: >-
      {{
        ctx_node_dependencies[pod_node_name][
          (instance_index | default(1, true) | int) - 1
        ] | default({})
      }}
  loop: "{{ pod_node.pods | default([], true) }}"
  loop_control:
    loop_var: pod_item
    label: "{{ pod_item.description }}"
  when: env_pod in ['', pod_name]
  tags: ["no_print_skipped"]
