### Prepare the temporary directory (to catch errors before updating the real one) ###
- name: "{{ pod_inner_title }} - prepare the temporary directory"
  include_tasks: "tasks/pods/prepare.yml"
  vars:
    pod_prepare_title: "{{ pod_inner_title }} - tmp"
    pod_repo_dir: "{{ pod_tmp_dir }}/prepare-tmp"
    pod_tmp_dir: "{{ pod_item.tmp_dir }}/prepare/tmp"
    pod_prepare_tmp: true
  when: not (pod_fast | bool)
  tags: ["no_print_skipped"]

### Prepare the real directory ###
- name: "{{ pod_inner_title }} - prepare the main directory"
  include_tasks: "tasks/pods/prepare.yml"
  vars:
    pod_prepare_title: "{{ pod_inner_title }} - main"
    pod_repo_dir: "{{ pod_item.pod_dir }}"
    pod_tmp_dir: "{{ pod_item.tmp_dir }}/prepare/main"
