### Create / Update the repository ###

- name: "{{ pod_prepare_title }} - pod_prepare_repo"
  set_fact:
    pod_prepare_repo: >-
      {{ env.repos[pod_item.repo] }}
    pod_prepare_clone_repo: >-
      {{ (not (pod_node_local | bool)) or (pod_prepare_tmp | default(false) | bool) }}
  tags: ["no_print"]

- name: "{{ pod_prepare_title }} - pod - repo (outer)"
  include_tasks: "tasks/util/repo.yml"
  vars:
    repo_title: "{{ pod_prepare_title }} - pod - repo"
    repo_main: "{{ pod_prepare_repo }}"
    repo_ssh_src_dir: "{{ env_dir }}"
    repo_secrets_dir: "{{ pod_secrets_repos_dir }}/{{ pod_item.repo }}"
    repo_default_dir: "{{ pod_repo_dir }}"
    repo_dev_base_dir: "{{ env_dev_repos_dir }}"
    repo_root: "{{ pod_root | bool }}"
    repo_dev: "{{ (env_dev | bool) and (pod_node_local | bool) }}"
    repo_lax: "{{ env_lax }}"
  when: pod_prepare_clone_repo | bool
  tags: ["no_print"]

### Create the environment pod repositories in the env folders (when defined) ###

- name: "{{ pod_prepare_title }}"
  include_tasks: "tasks/pods/ext_repos.yml"
  vars:
    pod_prepare_ext_repo_name: "{{ pod_prepare_item.repo }}"
    pod_prepare_ext_repo: >-
      {{ env.repos[pod_prepare_item.repo] }}
  loop: "{{ pod_item.ext_repos | default([], true) }}"
  loop_control:
    loop_var: pod_prepare_item
    label: "{{ pod_prepare_item.repo }}"
  when: pod_prepare_clone_repo | bool
  tags: ["no_print"]

### Transfer the pod artifacts (when ctx is defined in the pod) ###

- name: "{{ pod_prepare_title }} - transfer (outer)"
  include_tasks: "tasks/pods/transfer.yml"
  vars:
    pod_transfer_title: "{{ pod_prepare_title }} - ctx"
  when: (pod_item.ctx | default('')) != ''
  tags: ["no_print_skipped"]

### Transfer the pod contents ###

- name: "{{ pod_prepare_title }} - pod_prepare_transfer_list (init)"
  set_fact:
    pod_prepare_transfer_list: []
  tags: ["no_print"]

- name: "{{ pod_prepare_title }} - pod_prepare_transfer_list (fill)"
  set_fact:
    pod_prepare_transfer_list: >-
      {{ pod_prepare_transfer_list + [tmp_transfer_item] }}
  vars:
    tmp_no_empty_lines: "{{ env.meta.template_no_empty_lines | default(false) }}"
    tmp_transfer_item:
      content: "{{ tmp_item.src }}"
      dest: "{{ pod_repo_dir }}/{{ tmp_item.dest }}"
      tmp_dest: "{{ pod_tmp_dir }}/{{ tmp_item.dest }}"
      mode: "{{ tmp_item.mode }}"
      dir_mode: "{{ tmp_item.dir_mode }}"
      no_empty_lines: "{{ tmp_item.no_empty_lines | default(tmp_no_empty_lines) }}"
  when: tmp_item.when | default(true, true) | bool
  loop: "{{ pod_item.prepared_transfer | default([]) }}"
  loop_control:
    loop_var: tmp_item
    label: "{{ tmp_item.dest }}"
  tags: ["no_print"]

- name: "{{ pod_prepare_title }} - transfer (outer)"
  include_tasks: "tasks/util/transfer.yml"
  vars:
    transfer_title: "{{ pod_prepare_title }} - transfer"
    transfer_become: "{{ pod_root | bool }}"
    transfer_prepared: true
    transfer_list: "{{ pod_prepare_transfer_list }}"
    transfer_input: "{{ pod_input }}"
    transfer_custom_dir: "{{ pod_item.local_dir }}"
  when: (pod_prepare_transfer_list | length) > 0
  tags: ["no_print_skipped"]
