# transfer

- name: "{{ prepare_repos_extra_repo_title }} - prepare_repos_extra_repo_transfer_list (init)"
  set_fact:
    prepare_repos_extra_repo_transfer_list: []
  tags: ["no_print"]

- name: "{{ prepare_repos_extra_repo_title }} - prepare_repos_extra_repo_transfer_list (fill)"
  set_fact:
    prepare_repos_extra_repo_transfer_list: >-
      {{ prepare_repos_extra_repo_transfer_list + [tmp_transfer_item] }}
  vars:
    tmp_no_empty_lines: "{{ env.meta.template_no_empty_lines | default(false) }}"
    tmp_transfer_item:
      content: "{{ tmp_item.src }}"
      dest: >-
        {{ prepare_repos_extra_repo_dir }}/{{ tmp_item.dest }}
      tmp_dest: >-
        {{ prepare_repos_extra_repo_tmp_dir }}/{{ tmp_item.dest }}
      mode: >-
        {{
          tmp_item.mode | default(
            tmp_item.executable | default(false) | bool | ternary(
              env_lax | bool | ternary(0777, 0751),
              env_lax | bool | ternary(0666, 0600)
            )
          )
        }}
      dir_mode: >-
        {{ tmp_item.mode | default(env_lax | bool | ternary(0777, 0755)) }}
      no_empty_lines: "{{ tmp_item.no_empty_lines | default(tmp_no_empty_lines) }}"
  when: tmp_item.when | default(true, true) | bool
  loop: "{{ prepare_repos_item.transfer | default([]) }}"
  loop_control:
    loop_var: tmp_item
    label: "{{ tmp_item.dest }}"
  tags: ["no_print"]

- name: "{{ prepare_repos_extra_repo_title }} - transfer (outer)"
  include_tasks: "tasks/util/transfer.yml"
  vars:
    transfer_title: "{{ prepare_repos_extra_repo_title }} - transfer"
    transfer_list: "{{ prepare_repos_extra_repo_transfer_list }}"
    transfer_custom_dir: "{{ prepare_repos_extra_repo_dir }}"
  when: (prepare_repos_extra_repo_transfer_list | length) > 0
  tags: ["no_print_skipped"]

# links

- name: "{{ prepare_repos_extra_repo_title }} - error var"
  set_fact:
    error: {}
  tags: ["no_print"]

- name: "{{ prepare_repos_extra_repo_title }} - links (outer)"
  include_tasks: "tasks/prepare_repos/extra_repo_link.yml"
  vars:
    tmp_target_repo_name: >-
      {{ prepare_repos_extra_repo_item.repo | default(prepare_repos_extra_repo_name, true) }}
    tmp_target_repos: >-
      {{
        prepare_repos_ctx_extra_repos
        | selectattr('repo', 'equalto', tmp_target_repo_name) | list
      }}
    tmp_target_repo: >-
      {{
        ((tmp_target_repos | length) > 0)
        | ternary(
          tmp_target_repos[0],
          error['extra repo link: repo ' + prepare_repos_extra_repo_name + ' not found'],
        )
      }}
    tmp_dev_path_src: "{{ prepare_repos_env_path_map[tmp_target_repo_name] | default('') }}"
    tmp_dev_path_dest: "{{ prepare_repos_env_path_map[prepare_repos_extra_repo_name] | default('') }}"
    tmp_src_extra_repos_dir: >-
      {{
        ((tmp_dev_path_src == '') and (tmp_dev_path_dest != ''))
        | ternary(
          env_dev_extra_repos_dir,
          prepare_repos_extra_repos_dir
        )
      }}
    tmp_src_default: >-
      {{
        tmp_src_extra_repos_dir + '/' +
        tmp_target_repo.dir + '/' +
        prepare_repos_extra_repo_item.src
      }}
    tmp_src_dev: >-
      {{
        prepare_repos_dev_repos_dir + '/' +
        tmp_dev_path_src + '/' +
        prepare_repos_extra_repo_item.src
      }}
    tmp_dest_default: "{{ prepare_repos_extra_repo_dir + '/' + prepare_repos_extra_repo_item.dest }}"
    tmp_dest_dev: >-
      {{
        prepare_repos_dev_repos_dir + '/' +
        tmp_dev_path_dest + '/' +
        prepare_repos_extra_repo_item.dest
      }}
    prepare_repos_extra_repo_link_src: >-
      {{ (tmp_dev_path_src != '') | ternary(tmp_src_dev, tmp_src_default) }}
    prepare_repos_extra_repo_link_dest: >-
      {{ (tmp_dev_path_dest != '') | ternary(tmp_dest_dev, tmp_dest_default) }}
    prepare_repos_extra_repo_link_title: >-
      {{ prepare_repos_extra_repo_title }} -
      link [{{ prepare_repos_extra_repo_link_dest }} -> {{ prepare_repos_extra_repo_link_src }}]
  loop: "{{ prepare_repos_item.links | default([]) }}"
  loop_control:
    loop_var: prepare_repos_extra_repo_item
    label: "{{ prepare_repos_extra_repo_link_dest }} -> {{ prepare_repos_extra_repo_link_src }}"
  tags: ["no_print"]
