# Initial Env

- name: "[cloud - ctx - {{ env_stage_title | default('') }}] - env_title"
  set_fact:
    env_title: "[cloud - ctx - {{ env_stage_title | default('') }}]"
  tags: ["no_print"]

- name: "{{ env_title }} - load the ctx initial environment vars"
  include_vars:
    file: "{{ env_vars_file }}"
    name: env_vars

- name: "{{ env_title }} - env_title"
  set_fact:
    env_title: >-
      {{ env_title }}
      [{{ env_vars.project | default('') }} - {{ env_vars.ctx | default('') }}]
    env_commit: "{{ env_vars.commit }}"
    env_dev: "{{ env_vars.env_dev | default(false, true) }}"
    env_lax_original: "{{ env_vars.env_lax | default(false, true) }}"
    env_dev_repos_dir: "{{ env_vars.dev_repos_dir }}"
    env_dev_pods_dir: "{{ env_vars.dev_repos_dir }}/pods"
    env_dev_apps_dir: "{{ env_vars.dev_repos_dir }}/apps"
    env_secrets_cloud_dir: "{{ env_vars.secrets_cloud_dir }}"
    env_secrets_ctx_dir: "{{ env_vars.secrets_ctx_dir }}"
    env_force: "{{ env_force | default(false) }}"
    env_node: "{{ env_node | default('') }}"
    env_pod: "{{ env_pod | default('') }}"
    instance_type: "{{ instance_type | default('') }}"
  tags: ["no_print"]

- name: "{{ env_title }} - env_ctx_name"
  set_fact:
    env_ctx_name: "{{ env_vars.ctx }}"
    env_ctx_dir: "{{ env_vars.ctx_dir }}"
    env_ctx_dev_dir: "{{ env_vars.ctx_dev_dir }}"
    env_dir: "{{ env_vars.env_dir }}"
    env_tmp_dir: "{{ env_vars.ctx_dir }}/tmp"
    env_local_data_dir: "{{ env_dev_repos_dir }}/data"
    env_dev_ctx_dir: "{{ env_vars.ctx_dev_dir }}"
    env_dev_extra_repos_dir: "{{ env_vars.ctx_dev_dir }}/extra-repos"
  tags: ["no_print"]

# Main Env

- name: "{{ env_title }} - env params"
  include_vars:
    file: "{{ env_vars.env_params_file }}"
    name: env_params

- name: "{{ env_title }} - path map (load)"
  include_vars:
    file: "{{ env_vars.path_map_file }}"
    name: env_path_map_aux

- name: "{{ env_title }} - path map (define)"
  set_fact:
    env_path_map: "{{ env_dev | bool | ternary(env_path_map_aux, {}) }}"
  tags: ["no_print"]

- name: "{{ env_title }} - load the environment vars"
  include_vars:
    file: "{{ env_vars.env_file }}"
    name: env_aux
  tags: ["no_print"]

- name: "{{ env_title }} - env"
  set_fact:
    env: "{{ env_aux }}"
  vars:
    project_name: "{{ env_vars.project }}"
    project_ctxs: [] # Here you are already running a specific context
    params: "{{ env_params }}"
  tags: ["no_print"]

# Env Base

- block:
    - name: "{{ env_title }} - env_base_dest"
      set_fact:
        env_base_dest: >-
          {{
            env_vars.env_dir +
            (
              ((env.env.repo_dir | default('')) != '')
              | ternary('/' + env.env.repo_dir, '')
            )
          }}
      tags: ["no_print"]

    - name: "{{ env_title }} - load the base environment vars"
      include_vars:
        file: "{{ env_base_dest }}/{{ env.env.file }}"
        name: env_base

    - name: "{{ env_title }} - env (from base)"
      set_fact:
        env: "{{ env_base }}"
      vars:
        params: "{{ env }}"

  when: env.env is defined
  tags: ["no_print"]

# Env Data & Validate Env

- name: "{{ env_title }} - env_data"
  set_fact:
    env_data:
      env: "{{ env }}"
      env_dir: "{{ env_dir }}"
      ctx_name: "{{ env_ctx_name }}"
      ctx_dir: "{{ env_ctx_dir }}"
      dev: "{{ env_dev }}"
      lax: "{{ tmp_lax }}"
      dev_repos_dir: "{{ env_dev_repos_dir }}"
      dev_extra_repos_dir: "{{ env_dev_extra_repos_dir }}"
      commit: "{{ env_commit }}"
      path_map: "{{ env_path_map }}"
    env_lax: "{{ tmp_lax }}"
  vars:
    tmp_lax: "{{ env.meta.lax | default(env_lax_original) }}"
  tags: ["no_print"]

- name: "{{ env_title }} - validate env"
  lrd.cloud.schema:
    schema_file: "schemas/env.schema.yml"
    value: "{{ env }}"
  when: env_validate | default(false, true) | bool

# Ctx

- name: "{{ env_title }} - env_ctx_raw"
  set_fact:
    env_ctx_raw: "{{ env.main[env_vars.ctx] }}"
  tags: ["no_print"]

- name: "{{ env_title }} - ctx tmp dir"
  file:
    path: "{{ env_tmp_dir }}"
    state: directory
    mode: "{{ env_lax | bool | ternary(0777, 0755) }}"
  when: ansible_connection == 'local'

# Env General Info

- name: "{{ env_title }} - general info"
  set_fact:
    env_can_run_node: "{{ (env_node == '') or (env_node == instance_type) }}"
    env_info:
      local_connection: "{{ ansible_connection == 'local' }}"
      instance_type: "{{ instance_type }}"
      env_node_name: "{{ env_node }}"
  tags: ["no_print"]
