- name: "{{ git_title | default('') }} - validate the git task parameters"
  fail:
    msg: "{{ git_item }} not specified"
  when: lookup('vars', git_item, default='') == ''
  loop:
    - "git_title"
    - "git_repo"
    - "git_repo_dir"
    - "git_update"
  loop_control:
    loop_var: git_item
  tags: ["no_print"]

- name: "{{ git_title }} - validate the git task ssh parameters"
  fail:
    msg: "ssh parameter {{ git_item }} not specified"
  when: >-
    ((git_repo.ssh_file | default('')) != '')
    and
    (lookup('vars', git_item, default='') == '')
  loop:
    - "git_ssh_src_dir"
    - "git_secrets_dir"
  loop_control:
    loop_var: git_item
  tags: ["no_print"]

- name: "{{ git_title }} - validate the git repo properties"
  fail:
    msg: "{{ git_item }} not specified in git_repo"
  when: (git_repo[git_item] | default('')) == ''
  loop:
    - "src"
    - "version"
  loop_control:
    loop_var: git_item
  tags: ["no_print"]

- name: "{{ git_title }} - git_ssh_file"
  set_fact:
    git_ssh_file: >-
      {{
        ((git_repo.ssh_file | default('')) != '')
        | ternary(git_secrets_dir + '/ssh.key', '')
      }}
  tags: ["no_print"]

- name: "{{ git_title }} - create the local directories"
  delegate_to: "localhost"
  file:
    path: "{{ git_item.dir }}"
    state: directory
    mode: "{{ git_lax | bool | ternary(0777, 0755) }}"
  when: git_item.when | default(true, true) | bool
  loop:
    - { dir: "{{ git_ssh_src_dir }}", when: "{{ git_ssh_file != '' }}" }
    - { dir: "{{ git_secrets_dir }}", when: "{{ git_ssh_file != '' }}" }
  loop_control:
    loop_var: git_item
    label: "{{ git_item.dir }}"
  tags: ["no_print_skipped"]

- name: "{{ git_title }} - create the directories"
  become: "{{ git_root | default(false) | bool }}"
  file:
    path: "{{ git_item.dir }}"
    state: directory
    mode: "{{ git_lax | bool | ternary(0777, 0755) }}"
  when: git_item.when | default(true, true) | bool
  loop:
    - { dir: "{{ git_repo_dir }}" }
  loop_control:
    loop_var: git_item
    label: "{{ git_item.dir }}"
  tags: ["no_print_skipped"]

- name: "{{ git_title }} - copy the repo ssh file"
  delegate_to: "localhost"
  copy:
    src: "{{ git_ssh_src_dir }}/{{ git_repo.ssh_file }}"
    dest: "{{ git_ssh_file }}"
    mode: 0600
  when: git_ssh_file != ''
  tags: ["no_print_skipped"]

- name: "{{ git_title }} - git"
  become: "{{ git_root | default(false) | bool }}"
  git:
    repo: "{{ git_repo.src }}"
    version: "{{ git_repo.version }}"
    key_file: "{{ git_ssh_file | default(omit, true) }}"
    accept_hostkey: yes
    dest: "{{ git_repo_dir }}"
    update: "{{ git_update | bool | ternary('yes', 'no') }}"
    force: "{{ git_update | bool | ternary('yes', 'no') }}"
  register: git_result
