- name: "{{ env_title }} - generate the hosts data - init"
  set_fact:
    ctx_hosts_data: {}
  tags: ["no_print"]

- name: "{{ env_title }} - generate the hosts data - fill"
  set_fact:
    ctx_hosts_data: >-
      {{
        ctx_hosts_data | combine({
          tmp_item: tmp_host_data
        })
      }}
  vars:
    tmp_host: "{{ hostvars[tmp_item] }}"
    tmp_localhost:
      instance_type: "main"
      instance_index: 1
    tmp_host_data:
      instance_type: "{{ tmp_host.instance_type | default('') }}"
      instance_index: "{{ tmp_host.instance_index | default('') }}"
      ipv4: "{{ tmp_host.instance_public_ipv4 | default('') }}"
      ipv6: "{{ tmp_host.instance_public_ipv6 | default('') }}"
      private_ip: "{{ tmp_host.instance_private_ip | default('') }}"
      local: "{{ (tmp_host.ansible_connection | default('')) == 'local' }}"
  when: tmp_item != 'localhost'
  loop: "{{ ansible_play_hosts_all }}"
  loop_control:
    loop_var: tmp_item
  tags: ["no_print"]
