- name: "{{ transfer_title }} - transfer_prepared_content"
  set_fact:
    transfer_prepared_list: "{{ transfer_list }}"
    transfer_diff_str: {}
    transfer_diff_file: {}
    transfer_diff_template: {}
  tags: ["no_print"]

# Prepare (if needed)

- name: "{{ transfer_title }} - prepare the list with the input"
  include_tasks: "tasks/util/transfer_prepare.yml"
  when: not (transfer_prepared | default(false) | bool)
  tags: ["no_print"]

- name: "{{ transfer_title }} - prepare the content - verify type"
  fail:
    msg: |
      invalid prepared content type:
      type: {{ tmp_item.content.type }}
      allowed: {{ tmp_allowed | to_json }}
  vars:
    tmp_allowed: ["file", "template", "str"]
  when: tmp_item.content.type not in tmp_allowed
  loop: "{{ transfer_prepared_list }}"
  loop_control:
    loop_var: tmp_item
    label: "{{ tmp_item.dest }}"
  tags: ["no_print"]

# Create the destination directory

- name: "{{ transfer_title }} - create the directories"
  become: "{{ transfer_become | default(false) | bool }}"
  file:
    path: "{{ tmp_item.dest | dirname }}"
    state: directory
    mode: "{{ tmp_item.dir_mode | default(omit, true) }}"
  loop: "{{ transfer_prepared_list }}"
  loop_control:
    loop_var: tmp_item
    label: "{{ tmp_item.dest }}"
  tags: ["no_print"]

- name: "{{ transfer_title }} - create the tmp directories"
  become: "{{ transfer_become | default(false) | bool }}"
  file:
    path: "{{ tmp_item.tmp_dest | dirname }}"
    state: directory
    mode: "{{ tmp_item.dir_mode | default(omit, true) }}"
  when: tmp_item.content.type == 'template'
  loop: "{{ transfer_prepared_list }}"
  loop_control:
    loop_var: tmp_item
    label: "{{ tmp_item.dest }}"
  tags: ["no_print"]

# String

- name: "{{ transfer_title }} - copy the string contents"
  become: "{{ transfer_become | default(false) | bool }}"
  copy:
    content: "{{ tmp_item.content.params.value }}"
    dest: "{{ tmp_item.dest }}"
    owner: "{{ transfer_user | default(omit, true) }}"
    group: "{{ transfer_group | default(omit, true) }}"
    mode: "{{ tmp_item.mode | default(omit, true) }}"
  when: tmp_item.content.type == 'str'
  loop: "{{ transfer_prepared_list }}"
  loop_control:
    loop_var: tmp_item
    label: "{{ tmp_item.dest }}"
  register: transfer_diff_str
  tags: ["no_print_skipped"]

# File

- name: "{{ transfer_title }} - copy the file contents"
  become: "{{ transfer_become | default(false) | bool }}"
  copy:
    src: "{{ tmp_item.content.file }}"
    dest: "{{ tmp_item.dest }}"
    owner: "{{ transfer_user | default(omit, true) }}"
    group: "{{ transfer_group | default(omit, true) }}"
    mode: "{{ tmp_item.mode | default(omit, true) }}"
  when: tmp_item.content.type == 'file'
  loop: "{{ transfer_prepared_list }}"
  loop_control:
    loop_var: tmp_item
    label: "{{ tmp_item.dest }}"
  register: transfer_diff_file
  tags: ["no_print_skipped"]

# Template

- name: >-
    {{ transfer_title }} - copy the template contents to
    the temporary destinations
  become: "{{ transfer_become | default(false) | bool }}"
  template:
    src: "{{ tmp_item.content.file }}"
    dest: "{{ tmp_item.tmp_dest }}"
    owner: "{{ transfer_user | default(omit, true) }}"
    group: "{{ transfer_group | default(omit, true) }}"
    mode: "{{ tmp_item.mode | default(omit, true) }}"
  vars:
    input: "{{ transfer_input | default(tmp_item.content.input | default({})) }}"
    params: "{{ tmp_item.content.params | default({}) }}"
    credentials: "{{ tmp_item.content.credentials | default({}) }}"
    contents: "{{ tmp_item.content.contents | default({}) }}"
  when: tmp_item.content.type == 'template'
  loop: "{{ transfer_prepared_list }}"
  loop_control:
    loop_var: tmp_item
    label: "{{ tmp_item.tmp_dest }}"
  changed_when: false
  tags: ["no_print_skipped"]

- name: >-
    {{ transfer_title }} - remove the excess of blank lines
    of the files created from the templates
  replace:
    path: "{{ tmp_item.tmp_dest }}"
    regexp: "^\\s*\\n"
    replace: ""
  when: >-
    (tmp_item.content.type == 'template')
    and
    (tmp_item.no_empty_lines | default(false) | bool)
  loop: "{{ transfer_prepared_list }}"
  loop_control:
    loop_var: tmp_item
    label: "{{ tmp_item.tmp_dest }}"
  changed_when: false
  tags: ["no_print_skipped"]

- name: >-
    {{ transfer_title }} -
    copy the normalized files created from the templates
  become: "{{ transfer_become | default(false) | bool }}"
  copy:
    remote_src: true
    src: "{{ tmp_item.tmp_dest }}"
    dest: "{{ tmp_item.dest }}"
    owner: "{{ transfer_user | default(omit, true) }}"
    group: "{{ transfer_group | default(omit, true) }}"
    mode: "{{ tmp_item.mode | default(omit, true) }}"
  when: tmp_item.content.type == 'template'
  loop: "{{ transfer_prepared_list }}"
  loop_control:
    loop_var: tmp_item
    label: "{{ tmp_item.dest }}"
  register: transfer_diff_template
  tags: ["no_print_skipped"]

- name: "{{ transfer_title }} - transfer_diff"
  set_fact:
    transfer_diff: >-
      {{
        (transfer_diff_str.results | default([]) )
        +
        (transfer_diff_file.results | default([]) )
        +
        (transfer_diff_template.results | default([]) )
      }}
  tags: ["no_print"]
