- name: "{{ cloud_run_title }} - cloud_run_file_name"
  set_fact:
    cloud_run_file_name: >-
      {{
        'run.stage.' + cloud_run_stage_name + '.'
        + main_tmp_stage_task.name + '.' + cloud_run_task.name + '.'
        + ('%Y-%m-%d_%H-%M-%S' | strftime())
      }}
  tags: ["no_print"]

- name: "{{ cloud_run_title }} - run node task file (outer)"
  include_tasks: "{{ tmp_base_dir_prefix + cloud_run_task.file }}"
  vars:
    tmp_target_origin: "{{ cloud_run_task.target_origin | default('') }}"
    tmp_base_dir_prefix: "{{ (tmp_target_origin != 'env') | ternary('', env_dir + '/') }}"
    params:
      title: "{{ cloud_run_title }} - run node task file [{{ cloud_run_task.file }}]"
      node: "{{ cloud_run_node.description }}"
      task: "{{ cloud_run_task }}"
      chdir: "{{ cloud_run_node.node_dir }}"
      tmp_dir: "{{ cloud_run_node.tmp_dir }}"
      dependencies: "{{ ctx_node_dependencies[cloud_run_node.name] | default({}) }}"
  when: (cloud_run_task.type == 'task') and (cloud_run_task_target == 'node')
  tags: ["no_print_skipped"]

- name: "{{ cloud_run_title }} - run pod task file (outer)"
  include_tasks: "{{ tmp_base_dir_prefix + cloud_run_task.file }}"
  vars:
    tmp_target_origin: "{{ cloud_run_task.target_origin | default('') }}"
    tmp_base_dir_prefix: >-
      {{
        (tmp_target_origin not in ['env', 'pod'])
        | ternary(
          '',
          (tmp_target_origin == 'env')
          | ternary(env_dir + '/', cloud_run_pod.pod_dir + '/')
        )
      }}
    params:
      title: >-
        {{ cloud_run_title }} -
        [pod] {{ cloud_run_pod.description }} -
        run pod task file [{{ cloud_run_task.file }}]
      node: "{{ cloud_run_node.description }}"
      pod: "{{ cloud_run_pod.description }}"
      task: "{{ cloud_run_task }}"
      chdir: "{{ cloud_run_pod.pod_dir }}"
      tmp_dir: "{{ cloud_run_pod.tmp_dir + '/run' }}"
      dependencies: "{{ ctx_node_dependencies[cloud_run_node.name] | default({}) }}"
  loop: "{{ cloud_run_node.pods | default([], true) }}"
  loop_control:
    loop_var: cloud_run_pod
    label: "{{ cloud_run_pod.description }}"
  when: (cloud_run_task.type == 'task') and (cloud_run_task_target == 'pod')
  tags: ["no_print_skipped"]

- name: "{{ cloud_run_title }} - run node shell command (outer)"
  include_role:
    name: "lrd.cloud.long_run"
  vars:
    long_run_title: "{{ cloud_run_title }} - run node shell command"
    long_run_become: "{{ cloud_run_task.root | default(false) }}"
    long_run_output_path: "{{ cloud_run_node.tmp_dir + '/run/log' }}"
    long_run_output_file: "{{ cloud_run_file_name }}.log"
    long_run_tmp_path: "{{ cloud_run_node.tmp_dir + '/run/tmp' }}"
    long_run_tmp_file: "{{ cloud_run_file_name }}.sh"
    long_run_path: "{{ cloud_run_node.node_dir }}"
    long_run_poll: "{{ cloud_run_task.poll | default(2) }}"
    long_run_cmd: "{{ cloud_run_task.cmd }}"
    long_run_sync: "{{ cloud_run_task.sync | default(false) }}"
  when: (cloud_run_task.type == 'shell') and (cloud_run_task_target == 'node')
  tags: ["no_print_skipped"]

- name: "{{ cloud_run_title }} - run pod shell command (outer)"
  include_role:
    name: "lrd.cloud.long_run"
  vars:
    long_run_title: >-
      {{ cloud_run_title }} -
      [pod] {{ cloud_run_pod.description }} -
      run pod shell command
    long_run_become: "{{ cloud_run_task.root | default(false) }}"
    long_run_output_path: "{{ cloud_run_pod.tmp_dir + '/run/log' }}"
    long_run_output_file: "{{ cloud_run_file_name }}.log"
    long_run_tmp_path: "{{ cloud_run_pod.tmp_dir + '/run/tmp' }}"
    long_run_tmp_file: "{{ cloud_run_file_name }}.sh"
    long_run_path: "{{ cloud_run_pod.pod_dir }}"
    long_run_poll: "{{ cloud_run_task.poll | default(2) }}"
    long_run_cmd: "{{ cloud_run_task.cmd }}"
    long_run_sync: "{{ cloud_run_task.sync | default(false) }}"
  loop: "{{ cloud_run_node.pods | default([], true) }}"
  loop_control:
    loop_var: cloud_run_pod
    label: "{{ cloud_run_pod.description }}"
  when: (cloud_run_task.type == 'shell') and (cloud_run_task_target == 'pod')
  tags: ["no_print_skipped"]
